/* ==============   imprenta que se utiliza  =========================*/
@import url("https://fonts.googleapis.com/css2?family=Gidole&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}




/*=========== CONTACTO SECCION ===========*/

.form {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  container-name: form;
  container-type: inline-size;
}


.form_form {
  padding: 12px;
  max-width: 600px;
  width: 100%;
  display: grid;
  margin-bottom: 30px;
}

.form_input-container :is(input, textarea) {
  width: 100%;
  padding: 9px;
  font-size: 12px;
  margin: 4px;
  border: none;
  box-shadow: 2px 2px 4px #0003;
}


.form_input-container textarea {
  resize: none;
  min-height: 120px;
  font-family: inherit;
}

.form_input-container input[type="submit"] {
  padding: 12px;
  background-color: #48e;
}

.form_titulo {
  font-size: 3rem;
}

/*====================   MEDIA QUERIES// CONTACTO ==================*/

@container form (min-width: 56.25rem) {
  .form_form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name lastname"
      "email  email"
      "message  message"
      "button button";
    gap: 12px;
    background-image: radial-gradient(#18233f06, #18233f22);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 40px #0006;

  }

  .form_input-container:first-child {
    grid-area: name;
  }

  .form_input-container:nth-child(2) {
    grid-area: lastname;
  }

  .form_input-container:nth-child(3) {
    grid-area: email;
  }

  .form_input-container:nth-child(4) {
    grid-area: message;
  }

  .form_input-container:nth-child(5) {
    grid-area: button;
  }

  .form_input-container :is(input, textarea) {
    box-shadow: none;
    border-radius: 6px;
  }
}


/*=============  SLIDE DE TEXTO DE  LOS PRODUCTOS  ==========*/

.subtitulo{
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
  margin: 2rem;
}

.card {
  width: 18rem;
}

.card-titulo {
  font-size: 1.3rem;
  text-align: center;
}

.card-text {
  text-align:center;
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/*==============  grid de auto/camionetas  =============*/
.contenedor1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1024px;

}



/*=============    grid motos/cuatri    ==================*/
.contenedor2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1024px;
}



/*===========  MEDIA QUERIES DE INICIO// PANTALLA PEQUEÑA ==========*/
@media (max-width:768px) {
  #intro {
    width: 90%;
  }
}

/*============   MEDIA QUERIES DE LAS CARDS // VISTA MOBILE  ===============*/

@media screen and (min-width:480px) {
  .contenedor1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }

  .contenedor2 { 
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
}

/*============   MEDIA QUERIES DE LAS CARDS // VISTA DESTOCK ===============*/



@media screen and (min-width:800px) {
.contenedor1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.contenedor2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
}





/*============ footer  ================ */
footer div p {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  background-color: rgb(244, 247, 244);

}