<<<<<<< HEAD
$tamanios : (
    espacio:30px,
    espacio-chico: 20px,
    sin-espacio:0px,

);
=======
$tamanios : (
    espacio:30px,
    espacio-chico: 20px,
    sin-espacio:0px,

);
>>>>>>> a9bdfe3e7458eb76e3b1500b86e59903aa35c311
