@use"sass:map";
@use"../utilities/maps"as tamanios;

@use "../componentes/media-queries";


/*=============   TEXTO DE  LOS  ARTICLE  ==========*/

@include media-queries.mobile1 {
  .contenedor1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: map-get(tamanios.$tamanios, espacio-chico);

  }
}





@include media-queries.tablet2 {
  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: map-get(tamanios.$tamanios, espacio-chico);
  }
}

@include media-queries.destock2 {
  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: map-get(tamanios.$tamanios, espacio-chico);
  }
}

.card {
  width: 18rem;
  overflow: hidden;

  .card-titulo {
    font-size: 1.3rem;
    text-align: center;
  }

  .card-text {
    text-align: center;
    padding: map-get(tamanios.$tamanios, sin-espacio);
    margin: map-get(tamanios.$tamanios, sin-espacio);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

}
