@use"sass:map";
@use"../utilities/maps";
@use"../utilities/mixins";

/*=============    grid auto/camionetas/motos/cuatri    ==================*/

main {
  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1024px;
    @include mixins.fadeIn(1s);

  }


  .contenedor2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1024px;
  }

}