@use"sass:map";
@use"../utilities/maps"as tamanios;
@use"../utilities/mixins";

/*=============    grid auto/camionetas/motos/cuatri    ==================*/

main {
  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: map-get(tamanios.$tamanios, espacio);
    max-width: 1024px;
    overflow: hidden;
    @include mixins.fadeIn(1s);

  }


  .contenedor2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: map-get(tamanios.$tamanios, espacio);
    max-width: 1024px;
    overflow: hidden;
  }

}